<!DOCTYPE html>
<html>

<script>

function goBack() 
 {
   window.history.back();
 }

function goHome()
 {
   window.location = '/';   
 }

var RadioValue = ''; // global - bit of a hack
function check_selected_terms() {
 if(! RadioValue) {
  alert("Please select at least one row");
  return false;
 } 
}

</script>


<head>
<style>

P {
 font-size: 13px;
 font-family:'Courier New';
} 

.view_info input[type="submit"] {
 color: black;
 background: #BDECB6;
 display: inline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
    text-align: center;
}

</style>
</head>

<body background="images/zmp.jpg">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
         <p>
          <button onclick="goHome()">Home</button>
           &nbsp;&nbsp;&nbsp;&nbsp;
          <button onclick="goBack()">Back</button>
         <p>
          <% IF ! chosen_exp_id %>
            <table>
             <h1>Choose an experiment</h1>
            <% row_index = 0 %>
             <form action="<% add_a_compound_url %>" method="get" onsubmit="return check_selected_terms();">
               <% FOREACH rec in std_exp %>
                <% col_num = 0 %>
    
                 <% IF row_index % 2 %>
                   <tr bgcolor='#CEECF5'>
                 <% ELSE %>
                   <tr bgcolor='#FFFFFF'>
                 <%END %>
       
                 <% IF row_index == 0 %>
                   <% FOREACH col in rec %>
        
                    <% IF col_num == 0 %>
                     <td>Select</td>
                    <% ELSE %> 
                     <td><% col %></td>
                    <% END %>
        
                    <% col_num = col_num + 1 %>
                   <% END %>
                  </tr>
                 <% ELSE %>

                  <% FOREACH col in rec %>
                   <% IF col_num == 0 && col %>
                      <td><input type="radio" name="exp_id" value="<% col %>" onClick="RadioValue = 1;"></td>
                    <% ELSE %>
                     <td><% col %></td>
                    <% END %>  
                     <% col_num = col_num + 1 %>
                   <% END %>

                <% END %>
                <% row_index = row_index + 1 %>

               <% END %>
               </tr></table>
               <p><p>
                <input type="submit" value="Submit">
                 &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="reset" value="Clear" onClick="RadioValue = 0;">
             </form>

           <% ELSE %>
            <form action="<% update_a_compound_url %>" method="get" enctype="multipart/form-data" onsubmit="return check_selected_terms();">
             <input type="hidden" name="add_a_compound_url" value="<% add_a_compound_url %>">
             <input type="hidden" name="chosen_exp_id" value="<% chosen_exp_id %>">
               <p><p>
                <h2> Add a compound and dose </h2>
                <table><tr><td>
                 Compound
                 &nbsp;&nbsp;&nbsp;&nbsp;
                 <input type="text" name="compound_name" required>
                 </td><td>
                 Dose
                 &nbsp;&nbsp;&nbsp;&nbsp;
                 <input type="text" name="compound_dose" required>
                </td></tr></table>
                <p><p>
               <table>
               <% row_index = 0 %> 
                <% FOREACH rec in cmp_exp %>

                 <% IF row_index % 2 %>
                  <tr bgcolor='#CEECF5'>
                 <% ELSE %>
                  <tr bgcolor='#FFFFFF'>
                 <% END %>
                  <% col_num = 0 %>
                  <% FOREACH col in rec %>
                   <% IF col_num == 0 %>
                    <% col_num = col_num + 1 %>
                    <% NEXT %>
                   <% ELSIF col_num == 1 && row_index > 0 %>
                    <% seqp_id = 'seqp::' _ col %>
                    <td><input type="radio" name="<% seqp_id %>" value="<% col %>" onClick="RadioValue = 1;"></td>
                   <% ELSIF col_num > 1 && row_index ==  0 %>
                    <td><% col %></td>
                   <% ELSIF col_num > 1 && row_index > 0%>
                    <td><% col %></td>
                   <% ELSE %>
                    <td>Select</td>
                   <% END %>
                   <% col_num = col_num + 1 %>
                  <% END %>
		   <% row_index = row_index + 1 %>
                   </tr>
                 <% END %>
            </table>
              <p><p>
              <input type="submit" value="Submit">
               &nbsp;&nbsp;&nbsp;&nbsp;
              <input type="reset" value="Clear" onClick="RadioValue = 0;">
            </form>
            <% END %>
       </div>
     </div>
</div>
</body>
</html>
