<!DOCTYPE html>
<html>

<script>
function goBack() 
  {
    window.history.back();
  }

function goHome()
  {
    window.location = '/';   
  }
function printWindow() {
    window.print();
}
</script>

<head>
<style>

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90px;
    height: 90px;
    text-align: center;
}
.txt_box {
   solid #33CCFF;
} 
.button {
  color: #33CCFF;
}

</style>
</head>

<body">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <p></p>
          <button onclick="goHome()">Home</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button onclick="printWindow()">Print</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% IF flip_url %>
           <form action="<% flip_url %>" method="get" style="display: inline;">
            <input type="hidden" name="plate_name" value="<% plate_name %>">
            <input type="hidden" name="display_plate_name" value="<% display_plate_name %>">
            <input type="hidden" name="current_view"  value="<% current_view %>">
            <input type="submit" value="flip"></td>
           </form>
          <% END %>
          <h1>Sequencing plate</h1> <h3> (<% display_plate_name %>)
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <% IF display_well_order_url %>
            <form action="<% display_well_order_url %>" method="get" style="display: inline;">
             <input type="hidden" name="plate_name" value="<% plate_name %>">
             <input type="hidden" name="display_plate_name" value="<% display_plate_name %>">
             <input type="submit" value="well order"></td>
           </form> 
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <% END %>
          <% IF display_tag_order_url %>
            <form action="<% display_tag_order_url %>" method="get" style="display: inline;">
             <input type="hidden" name="plate_name" value="<% plate_name %>">
             <input type="hidden" name="display_plate_name" value="<% display_plate_name %>">
             <input type="submit" value="tag order"></td>
           </form> 
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <% END %>
          <% IF display_genot_order_url %>
            <form action="<% display_genot_order_url %>" method="get" style="display: inline;">
             <input type="hidden" name="plate_name" value="<% plate_name %>">
             <input type="hidden" name="display_plate_name" value="<% display_plate_name %>">
             <input type="submit" value="genotype order"></td>
           </form> 
         </h3>
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <% END %>
           <table>
            <% FOREACH well IN sequence_plate %>
             <% IF well == '##' %>
              </tr><tr>
             <% ELSIF well.5 %> 
              <% IF well.5 == -1 %>
               <% spike_vol = "0" %>
              <% ELSE %>
               <% spike_vol = well.5 %>
              <% END %>
               <% IF well.0 == 0 %>
                <td bgcolor="red">
               <% ELSE %>
                <td bgcolor="<% well.1 %>">
               <% END %>
                <% well.2 %><br>
                <b><% well.3 %>
                &nbsp;&nbsp;
                <% well.4 %></b><br>
                <% spike_vol %>
               </td>
              <% ELSIF well.3 %>
               <% IF well.0 == 0 %>
                <td bgcolor="red">
               <% ELSE %>
                <td bgcolor="<% well.1 %>">
               <% END %>
                <% well.2 %><br><% well.3 %>
               </td>
              <% ELSIF well.2 %>
               <% IF well.0 == 0 %>
                <td bgcolor="red">
               <% ELSE %>
                <td bgcolor="<% well.1 %>">
               <% END %>
               <% well.2 %>
               </td>
             <% ELSE %>
              <td bgcolor="<% well.1 %>">
             <% END %>
             </td>
            <% END %>
           </table>
           <p>
            <% FOREACH col IN legend.keys.sort %>
             <table style="display: inline;border: 1px;">
              <tr><td style="width: 5px;height: 5px;" bgcolor="<% col %>">
              </td></tr></table>
             <% legend.$col.exp_name %> (<% legend.$col.std_name %>)
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% END %>
          <p>
           <% IF geno_legend %>
            <% FOREACH geno IN geno_legend.keys.sort %>
             <table style="display: inline;border: 1px solid white;">
              <tr><td><% geno %><br><% geno_legend.$geno %></br></td></tr></table>
            <% END %>
           <% ELSIF well_legend %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <table style="display: inline;border: 1px solid white;">
             <tr><td><% well_legend.0 %><br>
              <b><% well_legend.1 %>
              &nbsp;<% well_legend.2 %></b><br>
              <% well_legend.3 %></td></tr></table>
          <% END %>
        </div>
      </div>
</div>
</body>
</html>
