<!DOCTYPE html>
<html>

<script>

function goBack() 
 {
   window.history.back();
 }

function goHome()
 {
   window.location = '/';   
 }
</script>


<head>
<style>

P {
 font-size: 13px;
 font-family:'Courier New';
} 

.view_info input[type="submit"] {
 color: black;
 background: #BDECB6;
 display: inline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
    text-align: center;
}

</style>
</head>

<body>
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
         <p>
          <button onclick="goBack()">Back</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button onclick="goHome()">Home</button>
         </p>
         <h1>Sequenced samples (<% exp_info.1 %>)</h1>
          <table>
           <% row_index = 1 %>
           <% FOREACH smp IN sequenced_samples %>
            <% field_index = 1 %>
             <% IF row_index % 2 %>
              <tr bgcolor='#CEECF5'>
             <% ELSE %>
              <tr>
             <%END %>
             <% FOREACH field IN smp %>
              <% IF row_index > 1 %> <!-- not the field names -->
               <% IF field_index != smp.size %> <!-- experiment_id -->
                <td><% field %> 
                </td>
               <% END %>
              <% ELSE %> <!-- field headers -->
               <% IF field != "Experiment_id" %>
                 <td><% field %>
                 </td>
               <% END %>
              <% END %>
             <% field_index = field_index + 1 %>
            <% END %>
            </tr>
            <% row_index = row_index + 1 %>
           <% END %>
           </table>
        </div>
      </div>
</div>
</body>
</html>
