<!DOCTYPE html>
<html>

<script>
function goBack() 
  {
    window.history.back();
  }

function goHome()
  {
    window.location = '/';   
  }
function printWindow() {
    window.print();
}
</script>

<head>
<style>

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 60px;
    height: 60px;
    text-align: center;
}
.txt_box {
   solid #33CCFF;
} 
.button {
  color: #33CCFF;
}

</style>
</head>

<body background="images/zmp.jpg">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <p></p>
          <h1>Sequencing plate</h1> <h3> (<% display_plate_name %>)
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <% IF display_well_order_url %>
            <form action="<% display_well_order_url %>" method="get" style="display: inline;">
             <input type="hidden" name="plate_name" value="<% plate_name %>">
             <input type="hidden" name="display_plate_name" value="<% display_plate_name %>">
             <input type="submit" value="well order"></td>
           </form> 
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <% END %>
          <% IF display_tag_order_url %>
            <form action="<% display_tag_order_url %>" method="get" style="display: inline;">
             <input type="hidden" name="plate_name" value="<% plate_name %>">
             <input type="hidden" name="display_plate_name" value="<% display_plate_name %>">
             <input type="submit" value="tag order"></td>
           </form> 
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <% END %>
          <% IF display_genot_order_url %>
            <form action="<% display_genot_order_url %>" method="get" style="display: inline;">
             <input type="hidden" name="plate_name" value="<% plate_name %>">
             <input type="hidden" name="display_plate_name" value="<% display_plate_name %>">
             <input type="submit" value="genotype order"></td>
           </form> 
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <% END %>
          <button onclick="goHome()">Home</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button onclick="printWindow()">Print</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</h3>
           <table>
            <% FOREACH well IN sequence_plate %>
             <% IF well == '##' %>
              </tr><tr>
             <% ELSIF well.0.search('^#') %>
              <td bgcolor="<% well.0 %>">
              <% well.1 %>
              </td>
             <% ELSE %>
              <td bgcolor="<% well.0 %>">
              </td>
             <% END %>
            <% END %>
           </table>
           <p>
            <% FOREACH col IN legend.keys.sort %>
             <table style="display: inline;border: 1px;"><tr><td style="width: 5px;height: 5px;" bgcolor="<% col %>"></td></tr></table>
             <% legend.$col.exp_name %> (<% legend.$col.std_name %>)
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% END %>
          <p>
           <% IF geno_legend %>
            <% FOREACH geno IN geno_legend.keys.sort %>
             <table style="display: inline;border: 1px solid white;"><tr><td><% geno %> <% geno_legend.$geno %></td></tr></table>
            <% END %>
           <% END %>
        </div>
      </div>
</div>
</body>
</html>
