<!DOCTYPE html>
<html>

<head>
<style>

table, th, td {
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
th {
    text-align: left;
}

</style>
</head>

<body>
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <h1>Samples for <% experiment_info.1 %> (<% experiment_info.2 %>)</h1>
          <table>
           <form action="<% check_sample_data_url %>" method=post style="display:inline;">
            <tr>
            <td>Tag_sets</td><td>
             <select name="tag_set_name">
              <% FOREACH tag_set_name IN tag_sets %>
               <option value=<% tag_set_name.0 %>><% tag_set_name.0 %></option>
              <% END %>
             </select></td>
            <tr> 
             <td>Tag_well_order</td><td><input type="text" name="tag_well_order" style="width: 500px;"></input></td>
            </tr>
            <tr>
            <td>Embryo_collection_well_order</td><td><input type="text" name="embryo_collection_well_order" style="width: 500px;"></td>
            </tr>
            <td>Observed_phenotype_well_order</td><td><input type="text" value="unobserved" name="observed_phenotype_well_order" style="width: 500px;"></td>
            </tr>
            <td>Genotype_well_order</td><tr>
              <% FOREACH allele IN allele_types %> 
               <td></td>
                <td><% allele.0 %>
                 <li><input type="text" name=<% allele.0 %> style="width: 300px;"></li>
               </td></tr>
              <% END %>
            </tr><tr>
	    </tr>
          </table>
            <input type="hidden" name="exp_id" value=<% experiment_info.0 %>>
          <table>
            <td><input type="submit" value=Check></td>
            <td><input type="reset" value="Clear"></td>
          </table>
           </form>
        </div>
      </div>
</div>
</body>
</html>
