<!DOCTYPE html>
<html>

<script>
function goBack() 
  {
    window.history.back();
  }

function goHome()
  {
    window.location = '/';   
  }
</script>


<head>
<style>

<head>
<style>

table, th, td {
    border-collapse: collapse;
}
th,td {
    width: 300px;
    padding: 15px;
}
th {
    text-align: left;
}

</style>
</head>

<body>
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <h1>Samples for <% experiment_info.1 %> (<% experiment_info.2 %>)</h1>
          <table>
           <form action="<% check_sample_data_url %>" method="post" enctype="multipart/form-data" style="display:inline;">
            <tr>
            <td>Tag sets</td><td>
             <select name="tag_set_name">
              <% FOREACH tag_set_name IN tag_sets %>
               <option value=<% tag_set_name.0 %>><% tag_set_name.0 %></option>
              <% END %>
             </select></td>
            <tr> 
             <td>Tag well order</td><td><input type="text" name="tag_well_order" style="width: 500px;"></input></td>
            </tr>
            <tr>
            <td>Embryo collection well order</td>
             <td><input type="text" name="embryo_collection_well_order" style="width: 500px;"></td>
            </tr>
            <td>Observed phenotype well order</td>
             <td><input type="text" value="unobserved" name="observed_phenotype_well_order" style="width: 500px;"></td>
            </tr>
            <td>KlusterCaller plate files</td><tr>
              <% FOREACH allele IN alleles %> 
                <td><p align="right"><% allele.1 %></p></td>
               <td>
                <p>
                 <input type="file" name="<% allele.1 %>" size="40">
                </p>
               </td></tr>
              <% END %>
            </tr><tr>
	    </tr>
          </table>
           <input type="hidden" name="exp_id" value=<% experiment_info.0 %>>
           <td><input type="submit" value=Check></td>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <td><input type="reset" value="Clear"></td>
          </form>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <td><button onclick="goBack()">Back</button></td>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <td><button onclick="goHome()">Home</button></td>
        </div>
      </div>
</div>
</body>
</html>
