<!DOCTYPE html>
<html>

<script>
function goBack() 
  {
    window.history.back();
  }

function goHome()
  {
    window.location = '/';   
  }
</script>

<head>
<style>

table, th, td {
    border-collapse: collapse;
}
th,td {
    width: 390px;
    padding: 15px;
}
th {
    text-align: right;
}

.txt_box {
   border: 3px solid #FF3300;
} 
.button {
  color: #FF3300;
}

</style>
</head>

<body background="images/zmp.jpg">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <button onclick="goHome()">Home</button>
          <h1><% names_info.1 %>(<% names_info.0 %>)</h1>
          <table>

           <form action="<% get_genotypes_and_rna_url %>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="exp_id" value="<% names_info.2 %>">
            <input type="hidden" name="exp_name" value="<% names_info.1 %>">
            <input type="hidden" name="std_name" value="<% names_info.0 %>">

             <td>RNA_dilution_file</td><td>
              <input type="file" class="button" name="rna_dilution_file" required></td></tr><tr> 
             <td>RNA_volume</td><td>
              <input type="text" class="txt_box" name="rna_volume" value="50" required></td></tr><tr>
             <td>Minimum_RNA_amount</td><td>
              <input type="text" class="txt_box" name="minimum_rna_amount" value="300" required></td><tr>
              <td>KlusterCaller_plate_files</td></tr>

               <% FOREACH allele IN alleles %>
                <tr>
                 <td><p align="right"><% allele.1 %></p></td>
                  <td><input type="file" class="button" name="<% allele.1 %>" size="40" required>
                 </td>
                </tr>
               <% END %>

              </tr>
         </table>
           <p>
            <input type="submit" value="Submit">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" value="Clear">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </form>
           </p>
        </div>
      </div>
</div>
</body>
</html>
