<!DOCTYPE html>
<html>

<script>

function goBack() 
 {
   window.history.back();
 }

function goHome()
 {
   window.location = '/';   
 }

function check_allele() {
 var allele_name = document.getElementById("allele_name");
 if(! allele_name.value ) {
  alert("Please enter an allele name");
  return false;
 }
 var ma1 = document.getElementById("mod_allele_1");
 var ma2 = document.getElementById("mod_allele_2");
 var ma3 = document.getElementById("mod_allele_3");
 if(! ma1.checked && ! ma2.checked && ! ma3.checked) {
  alert("Please select an option: Add, Delete or View");
  return false;
 }
}

var AddValue = ''; // global - bit of a hack
function check_add_terms() {
 if(! AddValue ) {
  alert("Please add at least one term");
  return false;
 }
}

var RadioValue = ''; // global - bit of a hack
function check_del_terms() {
 if(! RadioValue) {
  alert("Please select at least one row");
  return false;
 } 
}

</script>


<head>
<style>

P {
 font-size: 13px;
 font-family:'Courier New';
} 

.view_info input[type="submit"] {
 color: black;
 background: #BDECB6;
 display: inline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
    text-align: center;
}

</style>
</head>

<body background="images/zmp.jpg">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
         <p>
          <button onclick="goHome()">Home</button>
           &nbsp;&nbsp;&nbsp;&nbsp;
          <button onclick="goBack()">Back</button>
         <p>
          <% IF ! allele_info || ( mod_allele != 1 && mod_allele != 2 && mod_allele != 3 ) %>
           <form action="<% get_ontology_for_allele_url %>" method="get" onsubmit="return check_allele();">
            <table>
             <h1>Find an allele</h1>
              <tr><td> Allele name &nbsp;&nbsp;<input type="text" id="allele_name" name="allele_name"></td>
              <td>Add &nbsp;&nbsp;<input type="radio" name="mod_allele" value=1 id="mod_allele_1"></td>
              <td>Delete &nbsp;&nbsp;<input type="radio" name="mod_allele" value=2 id="mod_allele_2"></td>
              <td>View &nbsp;&nbsp;<input type="radio" name="mod_allele" value=3 id="mod_allele_3"></td></tr>
              
            </table>
            <p><p>
             <input type="submit" value="Submit">
              &nbsp;&nbsp;&nbsp;&nbsp;
             <input type="reset" value="Clear">
           </form>
          <% ELSIF mod_allele == 1 %>
           <h1>Add ontology terms</h1>
            <table>
            <% row_index = 0 %>
             <form action="<% add_ontology_eq_terms_url %>" method="get"  id="add_ont_terms" onsubmit="return check_add_terms();">
               <% FOREACH rec in allele_info %>
                <% col_num = 0 %>

                <% IF row_index % 2 %>
                 <tr bgcolor='#CEECF5'>
                <% ELSE %>
                 <tr bgcolor='#FFFFFF'>
                <%END %>

                 <% IF row_index == 0 %>
                  <% FOREACH col in rec %>
                   <td><% col %></td>
                   <% col_num = col_num + 1 %>
                  <% END %>
                 </tr>
                 <% ELSE %>
                  <% FOREACH col in rec %>

                   <% IF col_num > 3 %>
                    <td><input type="text" name="<% allele_info.0.$col_num %>" id="<% allele_info.0.$col_num %>" oninput="AddValue = 1;"></td>
                   <% ELSE %>
                    <input type="hidden" name="<% allele_info.0.$col_num %>" value="<% col %>"> 
                    <td><% col %></td>
                   <% END %>
                   <% col_num = col_num + 1 %>

                 <% END %>
                 <% END %> 
                <% row_index = row_index + 1 %>
               <% END %>
            </table>
            <p><p>
           <input type="submit" value="Submit">
           &nbsp;&nbsp;&nbsp;&nbsp;
           <input type="reset" value="Clear" onClick="AddValue = '';">
           </form> 
           <% ELSIF mod_allele == 2 %>
            <h1>Delete ontology terms</h1>
             <table>
            <% row_index = 0 %>
             <form action="<% delete_ontology_eq_terms_url %>" method="get" onsubmit="return check_del_terms();">
               <% FOREACH rec in allele_info %>
                <% col_num = 0 %>
                <% IF row_index % 2 %>
                 <tr bgcolor='#CEECF5'>
                <% ELSE %>
                 <tr bgcolor='#FFFFFF'>
                <%END %>
                 <% IF row_index == 0 %>
                  <% FOREACH col in rec %>
                   <% IF col_num == 0 %>
                    <td>Delete</td>
                   <% ELSE %> 
                    <td><% col %></td>
                   <% END %>
                   <% col_num = col_num + 1 %>
                  <% END %>
                 </tr>
                 <% ELSE %>
                  <% FOREACH col in rec %>
                   <% IF col_num == 0 && col %>
                    <% rad_name = "radio::" _ col %>
                    <td><input type="radio" name="<% rad_name %>" value="<% col %>" onClick="RadioValue = 1;"></td>
                   <% ELSE %>
                    <td><% col %></td>
                   <% END %>  
                  <% col_num = col_num + 1 %>
                  <% END %>
                 <% END %>
                <% row_index = row_index + 1 %>
              <% END %>
            </table>
            <p><p>
           <input type="submit" value="Submit">
           &nbsp;&nbsp;&nbsp;&nbsp;
           <input type="reset" value="Clear" onClick="RadioValue = '';">
           </form> 
          <% ELSIF mod_allele == 3 %>
           <% row_index = 0 %>
          
           <table><tr>
            <% FOREACH rec in allele_info %>
             <% col_num = 0 %>
              <% IF row_index % 2 %>
               <tr bgcolor='#CEECF5'>
              <% ELSE %>
               <tr bgcolor='#FFFFFF'>
              <%END %>
              <% FOREACH col in rec %>
               <% IF col_num > 0 %>
                <td><% col %></td>
               <% END %>
               <% col_num = col_num + 1 %>
              <% END %>
              </tr>
              <% row_index = row_index + 1 %>
            <% END %> 
           </table>

          <% END %>
       </div>
     </div>
</div>
</body>
</html>
