<!DOCTYPE html>
<html>

<script>

function sumGenotypes() {
 var elements = document.getElementsByClassName('txt_box');
 var total = 0;
     
 for(var i = 0; i < elements.length; ++i) {
  var num = parseInt(elements[i].value);
  if( num > 0 ) {
   total += num;
  }
 }

 if(total <= 0) {
  alert("At least one genotype must be selected");
  return false;
 }
 return true;
}

function goBack() 
  {
    window.history.back();
  }

function goHome()
  {
    window.location = '/';   
  }
</script>

<head>
<style>

table, th, td {
    border-collapse: collapse;
    width: 390px;
    padding: 15px;
    text-align: left;
}

.txt_box {
   border: 3px solid #33CCFF;
} 
.button {
  color: #33CCFF;
}

</style>
</head>

<body background="images/zmp.jpg">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <h1><% names_info.1 %> (<% names_info.0 %>)</h1>

          <form action="<% populate_rna_dilution_plate_url %>" method="post" enctype="multipart/form-data" onsubmit="return sumGenotypes();">
           <input type="hidden" name="exp_id" value="<% names_info.2 %>">
           <input type="hidden" name="rna_volume" value="<% rna_volume %>">
           <input type="hidden" name="min_rna_amount" value="<% min_rna_amount %>">
           <input type="hidden" name="final_sample_volume" value="<% final_sample_volume %>">
           <table>
            <% FOREACH count IN allele_combos.keys.nsort.reverse %>
             <% FOREACH combo IN allele_combos.$count.keys.sort %>
              <tr><td><% combo %></td><td>
               <input type="number" class="txt_box" name="<% combo %>" min=0 max="<% count %>"></td>
               <td><% count %></td>
              </tr>
             <% END %>
            <% END %> 
           </table>
           <p>
            <input type="submit" value="Submit">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" value="Clear">
          </form>
           </p>
        </div>
      </div>
</div>
</body>
</html>
