<!DOCTYPE html>
<html>

<script>

function openWin(img){
   var path = "images/";
   window.open(path+img,"mywin","menubar=0,resizable=0,width=210,height=210");
}

function goBack() 
  {
    window.history.back();
  }
function goHome()
  {
    window.location = '/';   
  }
</script>


<head>
<style  type="text/css">

table, th, td {
 table-layout: fixed;
}
.txt {
 color: black;
}
.border1 {
 color: #B0B0B0;
 height: 130px;
 width: 400px;
 border: dashed;
 padding: 25px;
 text-align: left;
}
.border2 {
 color: #B0B0B0;
 height: 320px;
 width: 400px;
 border: dashed;
 padding: 25px;
 text-align: left;
}
.border3 {
 position: relative;
 top: -500px;
 right: -500px;
 color: #BBB0B0;
 height: 160px;
 width: 400px;
 border: dashed;
 padding: 25px;
 text-align: left;
}

#topright {
    position: relative;
}
.topright {
    position: absolute;
    top: 0px;
    right: 0px;
}

body {
    background-image: url("images/zmp_index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 200%;
    background-position: center;
}

</style>
</head>

<body>
<div id="page">
 <div id="sidebar">
  </div>
    <p><p>

    <div id="section" style="float:right;">
     <div class="border2">
      <div class="txt" style="float:left;">
       <h2>Update tables</h2>
        <table style="float:left;"><tr>
          <td width=260px>Add a new study</td> 
           <td>
            <form action="<% add_a_new_study_url %>" method="get">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
          </tr><tr><tr>
           <td width=260px>Add a new assembly</td>
            <td>
             <form action="<% add_a_new_assembly_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr><tr><tr>
           <td width=260px>Add a new developmental stage</td>
            <td>
             <form action="<% add_a_new_dev_stage_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr><tr><tr>
           <td width=260px>Add/update a phenotype image</td>
            <td>
             <form action="<% update_image_url %>" method="post">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr><tr><tr>
           <td width=260px>Update a phenotype</td>
            <td>
             <form action="<% update_a_phenotype_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr><tr><tr>
           <td width=260px>Update an ENA ID</td>
            <td>
             <form action="<% update_an_ena_id_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr><tr><tr>
           <td width=260px>Add a treatment</td>
            <td>
             <form action="<% add_a_treatment_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr><tr><tr>
           <td width=260px>Add a compound</td>
            <td>
             <form action="<% add_a_compound_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr><tr><tr>
           <td width=260px>Add a new allele</td>
            <td>
             <form action="<% add_a_new_allele_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
          </tr><tr><tr>
           <td width=260px>Update a Study name</td>
           <td>
            <form action="<% update_study_name_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
           </tr>
           </tr>
        </tr></table>
       </div>
      </div>
     </div>
    <div id="section">
     <div class="border2">
       <div class="txt">
        <h2>Make a sequencing plate</h2>
         <table><tr>
          <td width=260px>Add a new experiment</td> 
           <td>
            <form action="<% get_new_experiment_url %>" method="get">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
          </tr><tr><tr>
           <td width=260px>Make a sequencing plate</td>
            <td>
             <form action="<% make_sequencing_plate_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr>
          </tr><tr><tr>
           <td width=260px>Modify sequencing plate</td>
            <td>
             <form action="<% add_sequencing_plate_data_url %>" method="post">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr>
          </tr><tr><tr>
           <td width=260px>Make a sequencing form</td>
           <td>
            <form action="<% make_sequencing_form_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
           </tr>
          </tr><tr><tr>
           <td width=260px><font color="red">Delete an Experiment</font></td>
           <td>
            <form action="<% delete_experiment_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
           </tr>
          </tr><tr><tr>
           <td width=260px><font color="red">Delete a Study</font></td>
           <td>
            <form action="<% delete_study_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
           </tr>
          </tr><tr><tr>
           <td width=260px>Modify a KlusterCaller plate</td>
           <td>
            <form action="<% modify_a_kc_plate_url %>" method="post">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
           </tr>
          </table>
         </div>
       </div>
     </div>
    </div>
    <p></p>
    <div id="section">
     <div class="border1">
       <div class="txt">
        <h2>Data views</h2>
         <table><tr>
          <td width=260px>View experiments</td> 
           <td>
            <form action="<% get_all_experiments_url %>" method="get">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type=submit value="&#8594;">
            </form>
           </td>
          </tr><tr><tr>
           <td width=260px>View sequencing plates</td>
            <td>
             <form action="<% get_all_sequencing_plates_url %>" method="get">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type=submit value="&#8594;"> 
             </form>
            </td>
           </tr>
          </tr><tr><tr>
            <td width=260px>View the schema</td>
            <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href="<% schema_location %>" download><button type="button">&#8595;</button></a>
            </td>
           </tr>
          </table>
         </div>
       </div>
     </div>
   </div>
    <p></p>
    <div id="section">
     <div class="border1">
       <div class="txt">
        <h2>Ontology terms</h2>
         <table><tr>
         <td width=260px>Add terms to an allele</td>
         <td>
          <form action="<% get_ontology_for_allele_url %>" method="get">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input type=submit value="&#8594;">
          </form>
         </td>
         </tr><tr><tr>
          <td width=260px>Choose an experiment</td>
          <td>
          <form action="<% choose_a_tc_experiment_url %>" method="get">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type=submit value="&#8594;"> 
         </form>
          </table>
         </div>
        </div>
       </div>
     </div>
   </div>

