<!DOCTYPE html>
<html>

<script>
var radioSum = 0;

function sumUp ( chosen ) {
 radioSum += chosen;
 if( radioSum > 96 ){
  alert("The combined sample number "+radioSum+" is greater than 96");
  location.reload();
 }
}

function radioCk() {
 var tag_offset = document.getElementsByName("tag_offset")[0].value;
 if( tag_offset > 96 || tag_offset < 1 ) {
  alert("tag number must be >= 1 and <= 96");
  return false;
 }
 else if( (tag_offset - 1) + radioSum > 96) {
  alert("Tag_number_to_start is too high");
  return false;
 }
 else if( ! radioSum ) {
  alert("At least one experiment must be selected");
  return false;
 }
 return true;
}


function reSet() {
 radioSum = 0;
}

function goBack() 
  {
    window.history.back();
  }

function goHome()
  {
    window.location = '/';   
  }
</script>

<head>
<style>

table, th, td {
    table-layout: fixed;
    border-collapse: collapse;
    width: 450px;
    height: 50px;
    padding: 5px;
    text-align: left;
}

.unseq_box {
   color: #339900;
} 
.seq_box {
   color: #FF0000;
}

</style>
</head>

<body background="images/zmp.jpg" onload="combinePlate.reset();">
<div id="page">
      <div id="sidebar">
      </div>
      <div id="content">
        <div id="header">
         <p> 
          <button onclick="goHome()">Home</button>
         <p>
          <h1>Choose experiments to combine on one sequencing plate</h1>
          <form name="combinePlate" action="<% combine_plate_data_url %>" method="post" enctype="multipart/form-data" onsubmit="return radioCk();">
           <table>
            <tr><td>Sequence_tag_set</td><td>
             <select name="tag_set_name">
              <% FOREACH tag_set_name IN tag_set_names %>
               <option value="<% tag_set_name.0 %>"><% tag_set_name.0 %></option>
	      <% END %>
             </select></td></tr>
            <tr><td>Tag_number_to_start</td><td>
            <input type="number" name="tag_offset" value=1 min=1 max=96 required>
            &nbsp;(1:A)
            &nbsp;(13:B)
            &nbsp;(25:C)
            &nbsp;(37:D)
            &nbsp;(49:E)
            &nbsp;(61:F)
            &nbsp;(73:G)
            &nbsp;(85:H)
            </td></tr>
            <% FOREACH exp_id IN unseq.keys.nsort.reverse %>
             <tr>
              <td>
               <% unseq.$exp_id.0 %> ( <% unseq.$exp_id.1 %> ) <% unseq.$exp_id.2 %> 
              </td>
              <td class="unseq_box">
               <input type="radio" name="<% exp_id %>" value="<% unseq.$exp_id.0 %>" onClick="sumUp(<% unseq.$exp_id.3 %>)">
                &nbsp;&nbsp;&nbsp;&nbsp;
               <% unseq.$exp_id.3 %>
                &nbsp;&nbsp;&nbsp;&nbsp; Not sequenced
              </td>
             </tr>
            <% END %>
            <% FOREACH exp_id IN seq.keys.nsort.reverse %>
             <tr>
              <td>
               <% seq.$exp_id.0 %> ( <% seq.$exp_id.1 %> ) <% seq.$exp_id.2 %> 
              </td>
              <td class="seq_box">
               <input type="radio" name="<% exp_id %>" value="<% seq.$exp_id.0 %>" disabled>
                &nbsp;&nbsp;&nbsp;&nbsp;
               <% seq.$exp_id.3 %>
               &nbsp;&nbsp;&nbsp;&nbsp; Sequenced
              </td>
             </tr>
            <% END %>
           </table>
            <input type="submit" value="Submit">
             &nbsp;&nbsp;&nbsp;&nbsp;
             <input type="reset" value="Clear" onClick="reSet()">
           </form>
        </div>
      </div>
</div>
</body>
</html>
