<!DOCTYPE html>
<html>

<script>

function goBack() 
 {
   window.history.back();
 }

function goHome()
 {
   window.location = '/';   
 }
</script>


<head>
<style>

P {
 font-size: 13px;
 font-family:'Courier New';
} 

.view_info input[type="submit"] {
 color: black;
 background: #BDECB6;
 display: inline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
    text-align: center;
}

</style>
</head>

<body background="images/zmp.jpg">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
         <p>
          <button onclick="goHome()">Home</button>
         <p>
         <h1>Add a new study</h1>
          <form action="<% add_a_new_study_url %>" method="get">
           Add a new study name 
           &nbsp;&nbsp;&nbsp;&nbsp;
           <input type="text" name="new_study" required>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <input type="submit" value="Submit">
          </form>
          &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          <table>
           <% row_index = 1 %>
           <% FOREACH std IN studies %>
             <% IF row_index % 2 %>
              <tr bgcolor='#CEECF5'>
             <% ELSE %>
              <tr bgcolor='#FFFFFF'>
             <%END %>
             <% IF std.1 == new_std_id %>
              <td bgcolor="#F5A9F2"><% std.0 %> 
              </td>
             <% ELSE %>
              <td><% std.0 %>
              </td>
             <% END %>
            </tr>
            <% row_index = row_index + 1 %>
           <% END %>
           </table>
        </div>
      </div>
</div>
</body>
</html>
