<!DOCTYPE html>
<html>

<head>
<style>

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
th {
    text-align: left;
}

</style>
</head>

<body>
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <h1>Test_samples</h1>
          <table>
           <% FOREACH ele IN test %>
             <tr><td><% ele %></td>
            <% END %>
           </table>
        </div>
      </div>
</div>
</body>
</html>
