<!DOCTYPE html>
<html>

<head>
<style>

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
th {
    text-align: left;
}

</style>
</head>

<body background="images/zmp.jpg">
<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <h1>Test_samples</h1>
          <table><tr>
           <% FOREACH ele IN samples %>
            <% IF ele == "###" %>
             </tr>
            <% ELSE %>
             <td><% ele %></td>
            <% END %>
          <% END %>
           </table>
        </div>
      </div>
</div>
</body>
</html>
